<%- include('partials/header') %>
<div class="jumbotron2 text-center">
  <div class="container3">
    <h2 class="display-4"><img class="locksvg" src="../assets/icons8-lock-black.svg" >Top Secrets</h2>
  </div>
    <div class="secrets-container">
      <% if (secrets.length > 0) { %>    
        <% secrets.forEach(secret => { %>     
          <div class="secret-box" id="secret-<%= secret.id %>">
           <p> <%= secret.secret_text %></p>
            <form id="deleteForm<%= secret.id %>" action="/delete" method="post">
              <input type="hidden" name="deleteItemId" value="<%= secret.id %>">
            </form>
            <button type="submit" form="deleteForm<%= secret.id %>" class="delete-secret" data-id="<%= secret.id %>">
              <img class="svgg" src="../assets/icons8-delete.svg" alt="trash-can"/>
            </button>
          </div>
        <% }); %>
      <% } else { %>   
        <p class="nosecrets">No secrets found.</p>
      <% } %>  
    </div>
    <div class="button-container">
      <a class="btni btn-light btn-lg logout" href="/logout" role="button">Log Out</a>
      <a class="btni btn-dark btn-lg submited" href="/submit" role="button">Submit a Secret</a>
    </div>
</div>
<%- include('partials/footer') %>





